<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% taxonomies.each_with_index do |taxonomy, index| %>
          <li>
            <%= link_to "javascript:;", 'data-toggle': :collapse, 'data-target': "#categories#{index}" do %>
              <%= taxonomy.name %>
              <i class="fa fa-plus"></i>
            <% end %>
            <ul id="categories<%= index %>" class="collapse collapseItem">
              <% taxonomy.taxons.leaves.each do |taxon| %>
                <li>
                  <%= link_to potepan_category_path(taxon.id) do %>
                    <%= taxon.name %>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <span>(<%= taxon.all_products.count %>)</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
