<% provide(:title, @taxon.name) %>
<%= render 'light_top_section', categorie_name: @taxon.name %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'categories_section', taxonomies: @taxonomies %>
        <%= render 'color_section' %>
        <%= render 'size_section' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_area' %>
        <%= render partial: 'product', collection: @products %>
      </div>
    <div>
  </div>
</section>
<%= render 'light_down_section' %>
